*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Times New Roman", Arial, Verdana;
}

html {
    background-color: #D0F0C0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body {
    margin: 50px 20%;
    line-height: 1.5;
}

.main-title {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: white;
    background-color: #014421;
}

.recipe-menu-main {
    text-align: center;
}

.recipe-menu-title {
    font-weight: bold;
    margin: 10px auto;
    font-size: 30px;
}

.recipe-menu-list li {
    margin: 5px auto;
    list-style-type: none;
    font-size: 24px;
}

.recipe-link {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
}

.recipe-link.odd {
    background-color: #90ee90;
}

.recipe-link.pair {
    background-color: #92ED91;
}

/* RECIPES PAGES CSS */

.recipe-presentation-box {
    margin-bottom: 12px;
}

.recipe-title {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    color: black;
    background-color: #92ED91;
}

.img-photo {
    margin: 0 auto;
}

.img-description {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.recipe-description-box {
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

.p-bold {
    font-weight: bold;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
    background-color: #92ED91;
    margin-bottom: 10px;
    padding: 5px 15px;
}

.ingredients-box {
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

.ingredients-box ul {
    padding: 0 40px;
    text-wrap: pretty;
}

.steps-box {
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

.steps-box ol {
    padding: 0 40px;
    text-wrap: pretty;
}

.notes-box {
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

.notes-box p {
    padding: 0 20px;
    text-wrap: pretty;
    line-height: 1.4;
}

.link-main-page {
    text-align: center;
}

.link-box {
    border: 1px solid #92ED91;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #90ee90;
}